<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Five VK Friends</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <span>Five VK Friends by <a href="https://github.com/fabritsius" target="_blank">@fabritsius</a> – Summer 2019</span>
    </footer>
</body>
</html>